

body, button{
    font-family: "Lexend-Deca", sans-serif;
    
}
body{
    height: 100vh;
    /* display: flex; */
}
h3{
    font-family: "Big Shoulders Display" , sans-serif;
    text-transform: uppercase;
    font-size: 30px;
}
p{
    font-size: 15px;
    line-height: 2;
}
.btn{
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
}

.card1{
    background-color: hsl(31, 77%, 52%);
    color: #fff;
    /* padding: 30px; */
    border-radius: 10px 10px 0 0;
}
.card1 .btn{
    color:hsl(31, 77%, 52%);
}
.card2{
    background-color: hsl(184, 100%, 22%);
    color: #fff;
    /* padding: 30px; */
}
.card2 .btn{
    color:hsl(184, 100%, 22%);
}
.card3{
    background-color: hsl(179, 100%, 13%);
    color: #fff;
    /* padding: 30px; */
    border-radius: 0 0 10px 10px;
}
.card3 .btn{
    color:hsl(179, 100%, 13%);
}
.btn:hover{
    background-color: transparent;
    color: #fff;
}
.container{
    padding: 20px;
    

}




.attribution { 
    font-size: 11px; 
    text-align: center; 
}
 .attribution a { 
    color: hsl(228, 45%, 44%);
 }

 @media (min-width: 992px){
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        max-width: 900px;
        margin: auto;
        /* width: 100%; */
        /* padding: 30px; */
        
    }
 }
 .card1{
    border-radius: 10px 0 0 10px;
 }

 .card3{
    border-radius: 0 10px 10px 0;
 }
 .card p{
    margin-bottom: 20px;
}
.card1, .card2, .card3{
    padding: 70px;
    /* margin-left: 2px; */
   
}

  @media (min-width: 1280px){
    .container{
        max-width: 1000px;
        width: 100%;
    }
  }